*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    background-color: #00ffff;
    transition: all 0.5s
}
.nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    font-size: 25px;
}
.nav-list a{
    text-decoration: none;
    color: #fff;
}
.sidebar .icon i{
    font-size: 20px;
}
.hide{
    transform: translateY(-50px);
}